$banana: #fac863;
$green: #72934e;


.🍌 {
  background-color: $banana;
}

header, footer {
  height: 4rem;
}

.card {
  margin-bottom: .5rem;
}

.jumbotron {
  background-color: $green;
  color: white;
}

a {
  color: $green;
}

.subtitle {
  font-style: bold;
}

