$banana: #fac863;
$green: #72934e;


.🍌 {
  background-color: $banana;
}

header, footer {
  height: 4rem;
}
.card-body {
  margin: .5rem;
  width: 40%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.jumbotron {
  background-color: $green;
  color: white;
}

a {
  color: $green;
}

.subtitle {
  font-style: bold;
}
